html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track{
  background: #df9c76;
}

body::-webkit-scrollbar-thumb{
  background: black;
}

body{
  overflow-x: hidden;
}

/* navbar */
nav{
  display: flex !important;
  position: fixed;
  width: 100%; 
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: teal;
  z-index: 2;
}

.logo{
  color:white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 36%;
  margin-bottom: 8px;
}

.nav-links li{
  list-style: none;
}
.nav-links a{
  color: white;
  text-decoration: none !important;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover{
  color: white;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color:white;
  margin: 5px;
  transition: all 0.7s ease;

}

@media screen and (max-width:1024px){
  .nav-links{
      width: 50%;
  }
}

@media screen and (max-width:768px){
   .nav-links{
       position: absolute;
       right: 0px;
       height: 92vh;
       top: 8vh;
       background-color: teal;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       z-index: 1;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
   }

   .nav-links li{
       opacity:0;
   }
   .burger{
       display: block;
       cursor: pointer;
   }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translateX(0px);
  }
}

.nav-links-animation{
  animation: navLinkFade 1s ease-out forwards ;
}

.toggle .line1{
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
  opacity: 0;
}
.toggle .line3{
transform: rotate(45deg) translate(-5px, -6px);
}

div.main-container{
  overflow: hidden;
  display: grid;
  border: 2px solid black;
  padding: 8px;
  padding-top:55px;
}

.sidebaricon{
  position: fixed;
  z-index: 2;
  padding: 5px;
  right: 2px;
  top: 40%;
  background-color: white;
  border-radius: 15px;
}

/* Home */
.main-homepage-container{
  overflow: hidden;
}

.bg{
  overflow: hidden;
  position: absolute;
  right:4px;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-color: #EEC4A5;
  clip-path: ellipse(47% 41% at 93% 35%);
}

@media screen and (max-width: 640px){
  .bg{
      display: none;
  }
}

.njack-block{
  text-align: left;
  padding-left: 40px;
  padding-right: 50px;
}

.njack-logo{
  padding-top: 40px;
}

.not-just-text{
  font-size: 31px;
  font-weight: bold;
  text-align: left;
  font-family: Segoe UI;
  color: teal;
}

p.home-para{
  font-size: 25px;
  font-family: Segoe UI;
  font-weight: bold;
  color: rgba(112, 112, 112, 1);
}

@media screen and (max-width: 630px){
  p.home-para{
      font-size: 19px;
      text-align: center;
  }
  .not-just-text{
      font-size: 25px;
      text-align: center;
  }
 
}
button.home-but{
  background-color: #F07630;
  border-radius: 10px;
  border: 2px solid teal;
  color: white;
  font-size: 16px;
  text-align: center;
  font-family: Segoe UI;
  font-weight: bold;
  padding: 8px;
  margin: 20px;
}

@media screen and (max-width: 630px){
  button.home-but{
      margin: auto;
      display: block;
      font-size: 17px;
      padding: 9px;
      margin-top: 30px;
      margin-bottom: 50px;
  }
  .njack-logo{
      display: block;
      margin: auto;
  }
}

button.home-but:hover{
  filter: brightness(90%);
  color: white;
  background-color: teal;
}

div.angbrack-row{
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 80px;
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr)); */
}

p.angbrack-para{
  font-family: Segoe UI;
  font-weight: bold;
  font-size: 20px;
  color: white;
}


div.home-clip{
  justify-items: center;
  justify-content: center;
  width: 500px; 
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: teal;
  border-radius: 15px;
  cursor: pointer;
  clip-path: circle(35px at 50% 40px);
  transition: clip-path 0.6s ease-in-out;
}

@media only screen and (max-width:1000px){
     div.home-clip{
         display: none;
     }
}


div.home-clip:hover{
  clip-path: circle(75%);
}


/* About-page */

div.about{
  text-align: center;
  
}

img.aboutus{
  /* min-width: ; */
  width: 100%;
}

div.whatwedo{
  padding: 15px 15px;
  /* padding-left: 40px; */
}
div.whatwedo p{
  font-size: 26.00px;
  font-weight: 700;
  color:rgba(112, 112, 112, 1);
}

@media screen and (max-width:630px){
  div.whatwedo p{
      font-size: 17.00px;
      font-weight: 700;
      color:rgba(112, 112, 112, 1);
  }

  div.whatwedo h2{
      font-size: 26.00px;
      font-weight: 700;
      color:rgba(112, 112, 112, 1);
  }
}

/* nwoc apeireon row */
div.nwocAper{
  /* background-color: black; */
  margin-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 20px;
}

div.nwocrow{
  padding-top: 35px;
}

div.nwocrow img{
  margin-bottom: 60px;
}

div.nwocrow h1{
  color: rgb(49, 43, 43);
  font-weight: 700;
  margin-bottom: 30px;
}

div.nwocrow p{
  text-align: center;
  color: rgba(112, 112, 112, 1);
  font-weight: 700;
  font-size: 26.00px;
  padding:20px;
}

div.nwocrow button{
  margin: 20px;
  font-size: 20.00px;
  font-weight: 700;
  border-radius: 15px;
  background-color: #F07630;
  border: 1px solid white;
}
div.nwocrow button:hover{
  border: 1px solid white;
  background-color: black;
}

.nwoc-img{
  border: 2px solid black;
}
.apeireon-img {
   border: 2px solid black;
}

.nwoc-aper-line{
  width: 70%;
  border: 1px solid rgb(139, 92, 4);
}

@media screen and (max-width:800px){
  div.nwocrow{
      padding-top: 0;
  }
  div.nwocrow p{
      font-size: 19.00px;
  }
  h1.nwochead {
      font-size: 35px;
  }

  .nwoc-img{
   border: 2px solid black;
   background-color: white;
  }
}


/* GSOC */
div.gsochead{
  font-size: 43.00px;
  font-weight: 700;
  font-style: normal;
  font-family: 'Segoe UI', Arial;
  margin-top: 27px;
  margin-bottom: 140px;
  text-align: center;
}
p.gsoc-para{
  color: rgba(112, 112, 112, 1);
}

div.mobile-gsoc{
  margin-bottom: 45px;
}

@media only screen and (max-width: 720px){
  div.gsochead{
      font-size: 34px;
      margin-bottom: 58px;
  }
  div.gsoc-text{
      margin-bottom: 30px;
  }
  div.gsoc-text p{
      padding: 27px;
      font-size: 19px;
      font-weight: 700;
      text-align: center;
  }
}

button.gsoc-results{
  margin: auto;
  display: block;
  padding: 10px;
  border-radius: 15px;
  margin-top: 30px;
  font-weight: 600;
}

div.gsoc{
  margin-bottom: 80px;
}

div.profile{
  background-color: rgb(73, 73, 231);
  box-shadow:  8px 8px 8px 0px rgba(0,0,0,1);
  margin: 10px;
  filter: brightness(68%);
  transition: transform 0.8s, visibility 0.5s  ease ;
  
}
div.profile:hover{
  transform: scale(1.08);
  z-index: 2;
  filter: brightness(100%);
}
img.profile-img{
  position: absolute; 
  top: -66px; 
  left: 21%; 
  width: 58%;
}
p.profile-details{
  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  color: rgb(248, 248, 248);
  padding-top: 50%;
}




/* collaborations */
div.collab{
  background-color: black;
  padding-bottom: 30px;
}

div.collab-head{
  padding: 45px;
  padding-top: 20px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 43px;
  color:white;
  font-weight: 700;
}

@media only screen and (max-width: 700px){
div.collab-head{
    margin-bottom: 0px;
    font-size: 33px;
}  
}

/* footer */

div.foot-row{
  margin-top:30px;
  justify-content: center;
}

.footer-list{
  list-style: none;
  text-align: left;
  color: rgba(0,0,0,0.4499999880);
  font-weight: 500;
}

/* Teams page */





/* common  */
button a.normal-link{
   color: white;
   text-decoration: none;
}