body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.aboutrow{
  margin-bottom: 30px;
}

div.about{
  text-align: center;
  
}

img.aboutus{
  /* min-width: ; */
  width: 100%;
}

div.whatwedo{
  padding: 15px 15px;
  /* padding-left: 40px; */
}
div.whatwedo p{
  font-size: 26.00px;
  font-weight: 700;
  color:rgba(112, 112, 112, 1);
}

@media screen and (max-width:630px){
  div.whatwedo p{
      font-size: 17.00px;
      font-weight: 700;
      color:rgba(112, 112, 112, 1);
  }

  div.whatwedo h2{
      font-size: 26.00px;
      font-weight: 700;
      color:rgba(112, 112, 112, 1);
  }
  div.aboutrow{
      margin-bottom: 0px;
  }
}